<!-- <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->



<!-- <bootstrap-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h2>Body</h2>
      <p>some content</p>
  </div>
</bootstrap-panel> -->



<!-- <like
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked"
></like> -->




<!-- <button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses">
    {{course.name}}
    <button (click)="onRemove(course)">Remove</button>
  </li>
</ul> -->



<!-- <input type="text" [appInputFormat]="'uppercase'"> -->


<!-- <zippy title="Shipping Details">
  shipping details content  
</zippy>
<zippy title="Billing Details">
    Billing details content  
</zippy> -->


<!-- <contact-form></contact-form> -->

<!-- <new-course-form></new-course-form> -->

<!-- <signup-form></signup-form> -->

<!-- <array-form></array-form> -->

<!-- <change-password></change-password> -->

<posts></posts>